@import 'equipe.css';
body{
    margin:0; padding:0;font-family: 'Poppins', sans-serif !important;
}
.nav-link:hover{
    color:#FFD600 !important;
    border-bottom:2px solid #FFD600;
    transition: all .7s;
}
.control-img-card{
    width: 320px;
    height: 320px;
    max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.control-img-card:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.card{
    border:none ;
    background-color: #FFD600 !important;
}
.nav-link{
    color: #eee !important;
    padding-bottom: 15rem;
}
.perfil{
    width:100%;
    height: 600px;
    margin: 0 auto;
    background:#F1F3F2;
}
.perfil img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.p-top{
    margin-top: -10rem;
}
@media only screen and (min-width:320px) and (max-width:414px){
    .perfil{
        height:300px;
    }
    .perfil img{
        display: none;
    }
    .img-fluid{
        margin-top: 5rem !important;
    }
}
.margin-perfil{
    margin-top:10rem;
}
p.status:after{
    content:'';
    background-color:currentColor;
    display: inline-block;
    align-self: center;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
}
.ativo{
    background-color: darkgreen !important;
}

.maximin{
    max-height: 30rem;
}
@media (max-width: 500px) {
    .maximin{
        max-height: 25rem;
    }
    #mt-control{
        margin-top: 2rem !important;
    }
    
}

.w-10{
    max-width: 5rem;
}
.bancos{
    opacity: 0.4;
}
.bancos:hover{
    opacity:1;
}
.bg-client{
    background-image: url(../images/carousel/gold-fincancia.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 550px 550px 550px 550px rgba(22, 25, 31, 0.8);
}
hr{
    background-color:white !important;
}
.bg-image-1{
    background-image: url(../images/senior/rd\ \(33\).JPG);
    width: 100%;
    height: 100rem;
    background-size:100% 30%;
    background-position: top right;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    box-shadow: inset 550px 550px 550px 550px rgba(22, 25, 31, 0.8);
}
.bg-image-2{
    background-image: url(../images/senior/rd\ \(2\).JPG);
    width: 100%;
    height: 100rem;
    background-size:100% 30%;
    background-repeat: no-repeat;
    background-position: top right;
    /* background-attachment: fixed; */
    box-shadow: inset 550px 550px 550px 550px rgba(22, 25, 31, 0.8);
}
.bg-image-3{
    background-image: url(../images/senior/rd\ \(82\).JPG);
    width: 100%;
    height: 100rem;
    background-repeat: no-repeat;
    background-position: top right;
    /* background-attachment: fixed; */
    box-shadow: inset 550px 550px 550px 550px rgba(22, 25, 31, 0.8);
}
.fort{
    font-weight: 1000 !important;
    font-family: 'Bebas Neue', cursive;
    font-size: 5rem !important;
    color: white !important;
}
.fort-sm{
    font-size: 2.3rem !important;
    font-weight: 1000 !important;
    font-family: 'Bebas Neue', cursive;
    color: white !important;
}
.control-fort{
    font-size: 2.5rem !important;
}
.bg-card:hover{
    margin-top:-10px;
}
/* Adicionando menudrow */
.bg-transparant-black{
    background-color:rgba(0,0,0, 0.9) !important;
}
.fill{
    width: 100%;
    height: 2px;
    background-color:blue;
    background-image:linear-gradient(to right,#0f1517,#ffde59,#ffde59,#0f1517);
}
.btn-outline-dark:hover {
     background-color: rgba(0,0,0,.5) !important; 
    border-color: rgba(0,0,0,.5) !important; 
}
.btn-outline-dark:not(:disabled):not(.disabled).active{
    background-color: rgba(0,0,0,.5) !important;
    border:rgba(0,0,0,.5) !important;
}
.bg-negocio{
    background-color: rgba(0,0,0, 0.9);
    /*box-shadow: inset 550px 550px rgbargba(108, 14, 214);*/
}
[data-menu="button"]{
    margin-top: -5rem;
    right: 0rem;
    z-index: 1001;
    position: fixed;
    transition: transform .6s !important;
}
[data-menu="button"].active{
   transform: rotate(180deg);
}
[data-menu="list"]{
    z-index: 1000;top:0px;bottom:0;right: 0rem;
    background-color: #0f1517;
    margin-right: -20rem;
    box-shadow: inset 2px 2px 2px 0 rgba(255,255,255, 0.9);
    transition: all .4s linear;
    width: 20rem;
}
[data-menu="list"].active{
    margin-right: 0rem !important;
}
[data-menu="list"] .nav-link{
    color:#eee !important;
}
[data-menu="list"] .nav-link:hover{
    /* text-decoration: #ffde59 !important; */
    color:#FFD600 !important;
    border-bottom:2px solid #FFD600;
    transition: all .7s;
}